backcall==0.1.0
Click==7.0
colorzero==1.1
decorator==4.4.0
dev==0.4.0
enum34==1.1.6
Flask==1.0.2
gpiozero==1.5.0
ipython==7.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.3
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pigpio==1.42
pkg-resources==0.0.0
prompt-toolkit==2.0.9
ptvsd==4.2.4
ptyprocess==0.6.0
Pygments==2.3.1
pyserial==3.4
rpi-backlight==1.8.1
RPi.bme280==0.2.2
RPi.GPIO==0.6.5
scipy==1.2.1
six==1.12.0
smbus==1.1.post2
smbus2==0.2.3
spidev==3.4
traitlets==4.3.2
update==0.4.4
wcwidth==0.1.7
Werkzeug==0.15.1
