<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Integra Wall</title>
    
    <link rel="stylesheet" type="text/css" media="screen" 
        href="{{ url_for('static', filename='stylesheet.css') }}">
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='zingtouch.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='displayClasses.js') }}"></script>
    <script type="text/javascript" 
        src="{{ url_for('static', filename='scripts.js') }}"></script>
    
    <script type="text/javascript">
        $(
            function(){
                measurementBodyLoaded()
            }
        );
    </script>
</head>
<body>
    <div id="outerDiv">
        <div id="mockBorder" style="width: 800px; height: 480px; margin:auto; border-style: none; border-color: white; padding:0px;">
            <div id="mainDiv" class="centered">
                <div id="measurementName" class="centered">
                    ----
                </div>
                <img id="logo" style="display: none;">
                <div id="measurementValue" class="centered"> 
                    --- --
                </div>
            </div>
        </div>
    </div>
</body>
</html>