<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Integra Wall</title>
    <link rel="stylesheet" type="text/css" media="screen" 
        href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div id="mainDiv" class="centered">
        <div id="measurementName" class="centered">
            TMP
        </div>
        <div id="measurementValue" class="centered"> 
            VAL
        </div>
    </div>
</body>
</html>