body{
    background-color: black;
    text-align: center;
    margin: auto;
}
#mainDiv{
    margin: auto;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
#measurementName{

    color: antiquewhite;
    font-size: 30pt;
    margin: auto;

}
#measurementValue{


    color: beige;
    font-size: 60pt ;
    text-size-adjust: auto;
    
}